body{
    background-color: rgb(255, 255, 255);
}
main{
    background-color:  rgb(212, 212, 212);
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 40%;
}
.container{
    background-color: rgba(192, 188, 188, 0.978);
    padding: 5px;
    border-radius: 10px;
    justify-content: center;
    margin-bottom: 20px;
}